body{
    background: #eee;
}

form{
    max-width: 200px;
    margin: 20px auto;
    background: white;
    padding: 10px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}

div {
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    padding: 15px auto;
    font-size: 22px;
    color: gray;
}